.head{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #f7f7f9;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.head div:first-of-type span:first-of-type{
    display: inline-block;
    width: 40px;
    text-align: center;
    cursor: pointer;
    color: #0064c8;
}

.head div:first-of-type span:first-of-type:hover{
    background: #e8f2ff;
}

.head div:first-of-type span:last-of-type{
    font-size: 16px;
}

.head > div:last-of-type{
    width: calc(76px + 170px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.head > div:last-of-type .select span{
    font-size: 14px;
}

.head > div:last-of-type > div{
    width: 20px;
    height: 20px;
    /* line-height: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconText{
    font-size: 12px;
    color: #000;
}
